**/.store/
**/coverage/
**/node_modules/
**/tests/
**/*.test.js
**/*.spec.js
**/test/
docs/
e2e/
scripts/
.git/
.github/
*.md
!README.md
ci.config.yml
.eslintrc*
.prettierrc*
babel.config.js
jest.config.js
nodemon.json
**/.DS_Store
**/Thumbs.db
